* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s;

    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
    
}
html, body {
  width: 100%;
  overflow-x: hidden;
}
header {
    width: 100%;
    justify-content: space-between;
    background-color: white;
    border: none;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    box-shadow: rgba(0, 0, 0, 0.205) 0px 5px 15px;
    position: fixed;
    z-index: 999;
    
   
}

header h1 {
    display: inline;
    font-size:20px;
    font-weight: 500;
}

header a {
    margin: 50px;       
    margin-left: 80px;
    font-size:18px;
    text-decoration: none;
    color: black;
    text-shadow: rgba(0, 0, 0, 0.585) 0px 5px 15px;
    font-weight: 200;
}

header a:hover {
    text-decoration: underline;
    color: rgb(69, 69, 69);
    font-size: 20px;
}
.nav-links {
    margin-left: 90px;
    margin-bottom: 40px;
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 30px;
}
  .menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

   

@media (max-width: 1258px) {
    .nav-links {
    display:none;
    position: absolute;
    top: 65px;
    right: 0;
    width: 100%;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
  }

  .nav-links li {
    margin: 20px 0;
  }
    header h1{
        display: block;
        
    }
    .menu-icon {
    display: block;
    position:fixed  ;
    left: 4px;
    top:41px;
    padding:3px;
    
  }
    .instagram{
    display: none;
   }
   .user{
    display: none;
   }
   .pesquisa{
    display: none;
   }
   .nav-links.active{
    display: flex;
    z-index: 999;
    background-color:#fff;
    margin-top: 20px;
    padding-bottom: -20px;
    transition: 0.5s;
   }

}

.instagram {
    width: 24px;
}

.instagram:hover {
    width: 27px;

}

.user {
    width: 24px;
    margin-left: -70px;
}

.user:hover {
    width: 27px;
}

.pesquisa {
    width: 24px;
    margin-left: -70px;
}

.pesquisa:hover {
    width: 27px;
}
.top{
   padding-top: 300px;
   padding-left: 80px;
   padding-bottom: 100px;
    text-align: center;
    background-image: url(img/textura-de-vidro-embaçado-numa-sala-quente-texturas-168639921.webp);
    background-attachment: fixed;
    background-size: cover;
     box-shadow: rgba(100, 100, 111, 0.432) 0px 7px 29px 0px;
}
.top h1{
    max-width: 100%;
    min-width: 320px;
    font-weight: 300;
    font-size: clamp(50px, 5vw, 80px);
    margin: auto;
}
.top p{
    text-align: center;
    max-width: 100%;
    min-width:320px;
    font-size: 20px;
    margin: auto;

}

.produtos{
  
    height: 50px;
    display: flex;
    padding: 40px;
    margin: auto;
}
.produt{
    max-width: 100%;
    min-width: 320px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    margin: auto;
}
.produt h2{
    text-align: center;
    max-width: 100%;
    min-width:320px;
    margin: auto;
    padding-top: 50px;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
        font-weight: 200;
        font-size: 300%;
        text-shadow:  rgba(0, 0, 0, 0.585) 0px 5px 15px;
        
}
.palno-de-fundo{
     background-image: url(img/textura-de-vidro-embaçado-numa-sala-quente-texturas-168639921.webp);
    background-attachment: fixed;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.432) 0px 7px 29px 0px;
    margin-bottom:20px;
}
.femeninos{
    margin: auto;
}
.caixa{
     display: inline;
    border-radius:20px 0px ;
    padding-bottom: 80px;
    max-width: 400px;
    min-width: 320px;
    margin: 30px auto;
}
.caixa p{
    margin-top: 20px;
    text-shadow: rgba(0, 0, 0, 0.588) 0px 5px 15px;
    text-align: center;
    font-weight: 200;
    
}
.caixa:hover{
    transition: 0.5s;
    width: 300px;
}
@media (max-width:1258px){
    .top{
        width: 100%;
    }
    body{
         overflow-x: hidden;
    }
   .produtos{
    display:flex;
    flex-direction: column;
    margin: 150px auto;
    padding-bottom: 40%;
    z-index: 8;
   }
   .masculinos{
    position: relative;
    padding-bottom : 750px;
    
   }
   .elo{
    margin-right: 20px;
   }
   .femeninos{
    position: relative;
    
   }
   .foto{
    padding-top: 120px;
   }
   .foto:hover{
    width: 350px;
   }
   .hidratantes{
    padding-top: 1500px;
   
   }

}
.essencial{
    display: inline;
    margin: 45px 30px 25px 30px;
    width: 400px;
    border-radius: 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.423) 0px 5px 15px;
}
.essencial:hover{
    transition: 0.5s;
    width: 300px;
}

.homem{
    margin-top: 50px;
    margin-left: 40px;
    width: 400px;
    border-radius: 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.423) 0px 5px 15px;
}
.homem:hover{
    transition: 0.5s;
    width: 300px;
}

.elo{
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 20px;
    width: 400px;
    border-radius: 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.423) 0px 5px 15px;
}
.elo:hover{
    transition: 0.5s;
    width: 350px;
    height:150px     ;
}
.femeninos{
    max-width: 100%;
    min-width: 320px;
    margin-top: 400px;
    margin-bottom: 300px;
}
.femeninos h2{
    font-size: 300%;
}

.foto{
     display: inline;
    border-radius:20px 0px ;
    padding-bottom: 80px;
    max-width: 400px;
    min-width: 320px;
    margin: 30px auto;
}
.foto p{
    margin: 20px auto;
    text-shadow: rgba(0, 0, 0, 0.588) 0px 5px 15px;
    text-align: center;
    font-weight: 200;
     max-width: 100%;
    min-width:320px;
     font: size 180%;
    
}
.foto:hover{
     transition:0.5s;
    width: 350px;
}
.EKOS{
    
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.423) 0px 5px 15px;
}

.EKOS:hover{
    transition: 0.5s;
    width: 350px;
    height: 350px;
}
.UNA{
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.423) 0px 5px 15px; 
}
.UNA:hover{
   transition: 0.5s;
    width: 350px;
    height: 350px;
}
.beiond{
    margin: 30px auto;
    width: 400px;
    height: 400px;
    width: 300px;
    height: 300px;
    border-radius: 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.423) 0px 5px 15px; 
}
.beiond:hover{
   transition: 0.5s;
    width: 350px;
    height: 350px;
}
.hidratantes{
    max-width: 100%;
    min-width: 320px;
    margin-top: 400px;
    margin-bottom: 300px;
   
}
.hidratantes h2{
      font-size: 300%;

}
.hidra{
     display: inline;
    border-radius:20px 0px ;
    padding-bottom: 80px;
    max-width: 400px;
    min-width: 320px;
    margin: 30px auto;
}
.hidra p{
      margin: 20px auto;
    text-shadow: rgba(0, 0, 0, 0.588) 0px 5px 15px;
    text-align: center;
    font-weight: 200;
     max-width: 100%;
    min-width:320px;
     font: size 180%;
}
.hidra:hover{
    transition:0.5s;
    width: 350px;
}

.Eudora{
    margin:30px auto;
    width: 400px;
    height: 400px;
    width: 300px;
    height: 300px;
    border-radius: 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.423) 0px 5px 15px; 
}
.Eudora:hover{
    transition: 0.5s;
    width: 350px;
    height: 350px;
}
.natura{
    margin: 30px auto;
    width: 400px;
    height: 400px;
    width: 300px;
    height: 300px;
    border-radius: 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.423) 0px 5px 15px; 
}
.natura:hover{
    transition: 0.5s;
    width: 350px;
    height: 350px;
}
.avon{
    margin: 30px auto;
    width: 400px;
    height: 400px;
    width: 300px;
    height: 300px;
    border-radius: 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.423) 0px 5px 15px; 
}
.avon:hover{
    transition: 0.5s;
    width: 350px;
    height: 350px;
}