<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="comtainer">
        <form>
            <h1>Entrer na plataforma</h1>

            <input type="email" placeholder="Email" required class="formulario">
            

            <input type="password" placeholder="Senha" required class="formulario">
            <div class="senha">
            <a href="#">Esqueci minha senha</a><br>
            </div>
            <button>Entrar</button>
            <div class="cadastrar-se">
                 <p>Não esta cadastrado?<a href="#">Cadastrar</a></p>
            </div>        

        </form>

    </div>

</body>

</html>