* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: "Roboto", serif;
    transition: 0.5s;

}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#97f1fd, #107688);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comtainer {
    border: 2px solid rgba(255, 255, 255, 0.2);
    border: none;
    text-align: center;
    border: solid;
    max-height: 550px;
    max-width: 450px;
    padding: 20;
    border-radius: 15px;
    background-color: #a7a3a34b;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: #fff;
}

.comtainer h1 {
    margin: 40px;
    font-size: 50px;
    color: #ffffff;
}

.formulario {

    border-radius: 15px;
    border: none;
    border: solid;
    margin: 25px;
    width: 80%;
    height: 100%;
    padding: 20px 45px 20px 20px;
    margin: 20px 45px 20px 20px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    outline: none;
    color: #ffffff;
}

.formulario input::placeholder {
    color: #ffffff;
    font-size: 20px;
}

.senha a{
    text-decoration: none;
    color: #fff;
    margin: 20px 0px;
    font-size: 18px;
}
.senha a:hover{
    color: #a7a7a7;
    text-decoration: underline;
    font-size: 15px;
}
button{
    width:100px;
    height: 30px;
    border-radius: 30px;
    border: none;
    margin: 20px 0px 15px 0px;
    background-color: #09414b;
    color: #fff;
}
button:hover{
    background-color: #22c2df;
    color: #000000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 110px;
    height: 40px;
}
.cadastrar-se{
    margin: 10px 0px;
}
.cadastrar-se p{
    font-size: 17px;
}
.cadastrar-se a{
    color: #fff;
    font-size: 17px;
    text-decoration: none;
}
.cadastrar-se a:hover{
    font-size: 19px;
    text-decoration: underline;
    color: #a7a7a7;
}