<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Chonburi&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Grão & Afeto</title>
</head>

<body>
    <header>
        <h1>Grão & Afeto </h1>
        <p>O sabor do café, o calor do carinho em cada xícara!</p>
        <nav>
            <img src="img/icon.jpg" alt="logo">
            <a href="#">Home</a>
            <a href="#">Cardapio</a>
            <a href="#">Sobre nos</a>
            <a href="#">Saiba mais</a>
        </nav>
    </header>
    <main>
        <div class="painel">
            <img src="img/p1.webp" alt="painel">
        </div>
        <h1>
            Melhor café não existe
        </h1>
        <ul>
            <li>| Realçamos os sabores e aromas únicos de cada safra, garantindo uma bebida equilibrada e envolvente. |
            </li>
        </ul>
        <div class="sobre-nos">
                <h3>Sorbe nóis | Grão & Afeto</h3>

                <p>
                    Além do café, oferecemos um cardápio pensado para acompanhar esses momentos: lanches frescos, pães
                    artesanais e sobremesas irresistíveis, preparados com ingredientes selecionados. Tudo isso em um
                    ambiente acolhedor, onde cada detalhe é pensado para que você se sinta em casa

                </p>
            </div>
        



            </article>
        <article>
            <div class="croassan">
                <img src="img/croassan-2.jpg" alt="">
            </div>
            <div class="Cardapio">
                <h1> Cardapio </h1>
                <h2>Cafés especiais</h2>
                <ul>
                    <li>Expresso</li>
                    <li>Cappuccino</li>
                    <li>Café com leite</li>

                    <li>Mocha</li>
                    <li>Café gelado</li>
                </ul>
                <h2>Lanches e Acompanhamentos</h2>
                <ul>
                    <li>Croissant Manteigado</li>
                    <li>Toast de Avocado </li>
                    <li>Pão de Queijo da Casa</li>
                    <li>Sanduíche Artesanal</li>
                </ul>
                <h2>Sobremesas Caseiras</h2>
                <ul>
                    <li>Torta de Chocolate Belga</li>
                    <li>Cheesecake de Frutas Vermelhas </li>
                    <li>Bolo de Cenoura com Calda de Chocolate</li>
                </ul>
                <h2>
                    Bebidas Geladas e Sucos
                </h2>
                <ul>
                    <li>Limonada Siciliana</li>
                    <li>Chá Gelado de Hibisco e Frutas Vermelhas </li>
                    <li>Smoothie de Banana e Cacau</li>
                </ul>

            </div>
            <div class="panqueca">
                <img src="img/panqueca-doce-2.jpg" alt="">
            </div>

        </article>
        <article class="number">

            <div class="locaização">
                <h3>Onde nos encontrar?</h3>
                <ul>
                    <li><strong>Tel</strong>:(xx) x xxxx-xxxx,</li>
                    <li><strong>E-mail</strong>:xxxxxxxx@gmail.com,</li>
                    <li><strong>Endereço</strong>:Feira de santana,tomba,rua xxxxxx,numero:xxx</li>

                </ul>
            </div>
        </article>
    </main>
</body>

</html>