* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    transition: 0.3s;
}

:root {
    --cor1: #8F5C38;
    --cor2: #201A23;
    --co2: #42260c;
    --cor3: #468189;
    --cor4: #F2C57C;

    --font-title: font-family: "Chonburi", serif;

}

header {
    background: linear-gradient(to bottom, var(--co2) 1%, var(--cor1) 5%, var(--cor2));
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    z-index: 1000;
}

header h1 {
    text-align: center;
    color: #fff;
    font-family: "Chonburi", serif;
    padding: 30px auto 10px auto;
    font-size: 50px;
}

header p {
    text-align: center;
    color: #fff;
    margin: 10px;
    font-weight: bold;
    font-size: 18px;
}

nav {
    padding-bottom: 5px;
}

nav a {
    color: #fff;
    margin-left: 50px;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;

}

nav a:hover {
    color: var(--cor1);
    font-size: 20px;
}

nav img {
    border-radius: 50%;
}

main {
    margin-top: 200px;
    background-color: var(--cor2);
    box-shadow: rgba(0, 0, 0, 0.836) 10px 7px 29px 10px;
}

.painel {
    padding: 10px;
    display: flex;
    align-items: center;
}

.painel img {
    margin: auto;
    max-width: 50%;
    mask-image: radial-gradient(circle, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
    box-shadow: rgba(0, 0, 0, 0.678) 0px 54px 55px, rgba(0, 0, 0, 0.404) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 5px;
}

main h1 {
    font-family:  "Chonburi", serif;
    color:#fff;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    text-shadow: rgba(0, 0, 0, 0.692) 0px 7px 29px 0px;
}
main ul{
    color: #fff;
    padding: 10px;
    text-indent: 30px;
    max-width: 900px;
    text-align: center;
    margin: auto;
    list-style-type:none;
}
main li{
    padding-bottom: 8px;
    font-size: 17px;
}


.p1{
    margin-right: 5px;
}
article{
    background-color: #fff;
    mask-image: radial-gradient(circle, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.788) 100%);
    display: flex;
}
article .croassan{
    align-items:flex-start;
}

article h1{
    color:black;
    font-family:  "Chonburi", serif;
}
article ul{
    text-align: start;
    color: var(--cor2);
    margin-left: 0;
    list-style-type:none;
}
article h2{
    margin-left: 10px;
    font-size: 30px;
    font-family: "Chonburi", serif;
    text-shadow: rgba(0, 0, 0, 0.575) 0px 5px 15px;
}
.sobre-nos{
    max-width: 500px;
    border: solid;
    margin:20px;
    border-radius: 10px ;
    box-shadow: rgba(0, 0, 0, 0.575) 0px 5px 15px; 
    display:inline-block;
    background-color: #fff;
    margin:10px 38%;
    padding: 10px; 
}
.sobre-nos h3{
    font-size: 25px;
    text-align: center;
    padding: 10px;
    font-family:  "Chonburi", serif;
    text-shadow: rgba(0, 0, 0, 0.575) 0px 5px 15px;
}

.sobre-nos p{
    font-weight: 500;
    text-align: center;
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 0.945) 50%, rgba(0, 0, 0, 0.712) 100%);
}
.Cardapio{
    max-width: 500px;
    border: solid;
    margin:20px;
    border-radius: 10px ;
    box-shadow: rgba(0, 0, 0, 0.575) 0px 5px 15px; 
    display:inline-block;
}
.croassan{
    display: flex;
    padding: 10px 10px 20px 10px;
    max-height: 450px;
    max-width: 450px;
    margin-left: 330px;
    margin-right: 20px;
    margin-top: 100px;
    border-radius: 10px;
    border: solid;
    box-shadow: rgba(0, 0, 0, 0.575) 0px 5px 15px; 
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 0.829) 50%, rgba(0, 0, 0, 0.13) 100%);
}
.croassan img{
    max-width: 400px;
    max-height: 400px;
}
.panqueca{
    border: solid;
    max-width: 450px;
    border-radius: 10px;
    padding: 10px 10px 20px 10px;
    max-height: 450px;
    margin-left: 10px;
    margin-top: 500px;
    margin-bottom: 50px;
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 0.829) 50%, rgba(0, 0, 0, 0.418) 100%);
    box-shadow: rgba(0, 0, 0, 0.575) 0px 5px 15px; 
}
.panqueca img{
    max-width: 400px;
    max-height: 400px;
    border-radius: 10px;
}
.number{
    background-color:#201A23;
}

.locaização h3{
    font-family: "Chonburi", serif;
    margin:10px auto;
    text-align: center;
    font-size: 30px;
}
.locaização{
    padding: 3px auto 5px auto;
    max-height: 400px;
    border: solid;
    background-color: #fff;
    margin:20px auto;
    border-radius: 10px;
    mask-image: radial-gradient(circle, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.74) 100%);
}
.locaização ul{
    font-weight: bold;
}
.locaização strong{
    font-size: 20px;
}