<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>login</title>
</head>

<body>
    <div class="container">
        <form>
            <div class="input">
                <h1>Entrar na plataforma</h1>
                <input placeholder="Email" type="email" required>
                <img width="20px" src="img/icons8-pessoa-30.png" alt="" class="img1">
            </div>
            <div class="input">
                <input placeholder="Senha" type="password" required>
                <img width="20px" src="img/icons8-cadeado-30.png" alt="" class="img2">
            </div>
            <a href="#" class="Esaqueci">
                Esaqueci minha senha
            </a>
            <div>

            </div>
            <a href="#"><button type="submit">Entrar</button></a>
            <p>Não esta cadastrado?<a href="#">Cadastra</a></p>
        </form>
    </div>
</body>

</html>